## Домашняя работа 11.

### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('ratings.csv')

In [ ]:
def sort_ratings_by_class(row):
    if row <= 2:
        return 'low'
    elif row <= 4:
        return 'middle'
    else:
        return 'high'
    
    return
    
ratings['class'] = ratings['rating'].apply(sort_ratings_by_class)

In [ ]:
ratings.head()

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [ ]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [ ]:
stats = pd.read_csv('keywords.csv')
stats.head()

In [ ]:
def define_region(row):
    for key, val in geo_data.items():
        for i in val: 
            if i in row.keyword:
                return key
    return 'undefined'

stats['region'] = stats.apply(define_region, axis=1)

In [ ]:
stats['region'].value_counts()

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [2]:
years = [i for i in range(1950,2010)]

In [3]:
ratings = pd.read_csv('ratings.csv')

In [4]:
movies = pd.read_csv('movies.csv')

In [5]:
ratings = ratings.merge(movies, how='left', on='movieId')

In [6]:
stat = ratings.filter(items = ['movieId', 'rating', 'title'])

In [7]:
def production_year(row):
    try:
        year = int(row.title[-5:-1])
    except ValueError:
        return(1900)
    
    if year in years:
        return(year)
    
    return(1900)

In [8]:
stat['year'] =  stat.apply(production_year, axis=1)

In [9]:
stat = stat.groupby(['year']).agg({'rating':'mean'}).reset_index().sort_values('rating', ascending=False)

In [18]:
stat

    year    rating
8   1957  4.039535
5   1954  4.009191
13  1962  3.969466
3   1952  3.953125
15  1964  3.940160
..   ...       ...
51  2000  3.398899
56  2005  3.359888
43  1992  3.354943
48  1997  3.347241
47  1996  3.335329

[61 rows x 2 columns]