### Задание 1
#### Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [34]:
ds = data[data.rating == 5.0]["movieId"].value_counts().sort_values(ascending=False)

In [35]:
ds

318       153
296       123
356       116
2571      109
260       104
         ...
140133      1
4994        1
60293       1
94777       1
83969       1
Name: movieId, Length: 2954, dtype: int64

In [36]:
print("Самое большое количество оценок 5.0 = ", ds[ds.index[0]], "получил фильм с Id = ", ds.index[0])

Самое большое количество оценок 5.0 =  153 получил фильм с Id =  318

### Задание 2
#### По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [40]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [66]:
data[((data['country'] == 'Estonia') 
     | (data['country'] == 'Lithuania') 
     | (data['country'] =='Latvia')) 
   & ((data['category'] == 4) 
     | (data['category'] == 12)
     | (data['category'] == 24))
   & ((data['year'] >= 2005) & (data['year'] <= 2010))
    & (data['quantity'] >= 0)]['quantity'].sum()

52668.0

### Задание 3
#### Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
#### Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [96]:
df = pd.read_html('https://www.finam.ru', encoding='win-1024')

In [102]:
df[0]

                  0                 1       2
0       МКБ ао1.63%     МРСКВол-3.48%     NaN
1            МКБ ао               NaN   1.63%
2           МРСКВол               NaN  -3.48%
3     Аэрофлот1.23%     МРСК ЦП-3.09%     NaN
4          Аэрофлот               NaN   1.23%
5           МРСК ЦП               NaN  -3.09%
6       ОВК ао1.19%         ММК-2.94%     NaN
7            ОВК ао               NaN   1.19%
8               ММК               NaN  -2.94%
9   Татнфт 3ап1.05%  Распадская-2.65%     NaN
10       Татнфт 3ап               NaN   1.05%
11       Распадская               NaN  -2.65%
12  +МосЭнерго0.99%    ОГК-2 ао-2.63%     NaN
13       +МосЭнерго               NaN   0.99%
14         ОГК-2 ао               NaN  -2.63%
15  Башнефт ао0.88%     НЛМК ао-2.52%     NaN
16       Башнефт ао               NaN   0.88%
17          НЛМК ао               NaN  -2.52%
18  Сургнфгз-п0.65%    AGRO-гдр-2.41%     NaN
19       Сургнфгз-п               NaN   0.65%
20         AGRO-гдр               NaN  -2.41%
21  Yandex clA0.58%  ДетскийМир-2.23%     NaN
22       Yandex clA               NaN   0.58%
23       ДетскийМир               NaN  -2.23%
24  Транснф ап0.57%  ИнтерРАОао-2.15%     NaN
25       Транснф ап               NaN   0.57%
26       ИнтерРАОао               NaN  -2.15%
27     ЛУКОЙЛ 0.57%    Мечел ао-1.97%     NaN
28           ЛУКОЙЛ               NaN   0.57%
29         Мечел ао               NaN  -1.97%

In [103]:
type(df[0])

pandas.core.frame.DataFrame